<!-- CREATING SEPARATE SIDEBAR FILE FOR ADMIN DASHBOARD-->
<!-- views/partials/adminSidebar.ejs -->

<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo-block">
    <img src="/images/logo1.png" alt="Inclusive Learning Hub Logo">
    <h2>Inclusive Learning Hub</h2>
    <p>Admin Dashboard</p>
    </div>
  </div>
  
  <nav class="nav-menu">

    <!-- admin dashboard-->
    <a href="/admin/adminDashboard" class="nav-item active">
      <i class="fas fa-home"></i>
      Dashboard
    </a>

    <!-- List all special educators as a grid-->
   <a href="/admin/listEducators" class="nav-item">
      <i class="fas fa-chalkboard-teacher"></i>
      Special Educators
    </a>


    <!-- List all resources -->
    <a href="/admin/resourceLibrary" class="nav-item">
    <i class="fas fa-book-open"></i>
    Resource Library
    </a>

    <!-- List all categories as a grid-->
    <a href="/admin/contentCategory" class="nav-item">
      <i class="fas fa-tags"></i>
      Content Categories
    </a>

    
    <a href="#" class="nav-item">
      <i class="fas fa-users"></i>
      Community Hub
    </a>


    <a href="#" class="nav-item">
      <i class="fas fa-cog"></i>
      System Settings
    </a>
    <a href="/auth/logout-confirm" class="nav-item">
      <i class="fas fa-sign-out-alt"></i>
      Logout
    </a>


  </nav>
</aside>
